header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 100%;
    background-color: var(--medium-gray);
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 110rem;
    margin: auto 60px;
}

header nav > ul {
    list-style: none;
    display: flex;
}

header nav > ul > li {
    font-size: 1.6rem;
    height: 7rem;
    display: flex;
    align-items: center;
    margin: auto 10px;
}

header nav > ul > li > a {
    text-decoration: none;
    color: black;
}

header nav > div {
    display: none;
}

.active {
    border-bottom: 3px solid var(--bg-orange);
}

/*-------info-----------*/

.section-info {
    width: 100%;
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
}

.info-image {
    width: 50%;
}

.info-image > img {
    width: 100%;
}

.info-description {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
